{%- capture section_settings -%}
{
  "type": {{ settings.cart_type | json }},
  "itemCount": {{ cart.item_count }},
  "drawer": true,
  "hasShippingEstimator": false
}
{%- endcapture -%}

<div id="sidebar-cart" class="Drawer Drawer--fromRight" aria-hidden="true" data-section-id="cart" data-section-type="cart" data-section-settings='{{ section_settings }}'>
  <div class="Drawer__Header Drawer__Header--bordered Drawer__Container">
      <span class="Drawer__Title Heading u-h4">{{ 'cart.general.title' | t }}</span>

      <button class="Drawer__Close Icon-Wrapper--clickable" data-action="close-drawer" data-drawer-id="sidebar-cart" aria-label="{{ 'header.navigation.close_cart' | t }}">
        {%- render 'icon' with 'close' -%}
      </button>
  </div>

  <form class="Cart Drawer__Content" action="{{ routes.cart_url }}" method="POST" novalidate>
    <div class="Drawer__Main" data-scrollable>
      {%- if settings.cart_show_free_shipping_threshold -%}
        {%- assign threshold_in_cents = settings.cart_free_shipping_threshold | times: 100 -%}

        <div class="Cart__ShippingNotice Text--subdued">
          <div class="Drawer__Container">
            {%- if cart.total_price >= threshold_in_cents -%}
              <p>{{- 'cart.general.free_shipping' | t -}}</p>
            {%- else -%}
              {%- capture remaining_amount -%}<span>{{ cart.total_price | minus: threshold_in_cents | abs | money }}</span>{%- endcapture -%}
              <p>{{- 'cart.general.free_shipping_remaining_html' | t: remaining_amount: remaining_amount -}}</p>
            {%- endif -%}
          </div>
        </div>
      {%- endif -%}

      {%- if cart.item_count == 0 -%}
        <p class="Cart__Empty Heading u-h5">{{ 'cart.general.empty' | t }}</p>
      {%- else -%}
        <div class="Drawer__Container">
          <input type="hidden" name="attributes[collection_mobile_items_per_row]" value="">
          <input type="hidden" name="attributes[collection_desktop_items_per_row]" value="">

          {% render 'cart-items' %}
        </div>
      {%- endif -%}
    </div>

    {%- unless cart.item_count == 0 -%}
            {% if settings.show-payment-icons %}
 <div class="cart-payment-icons">
           {%- capture supported_sizes -%}{%- render 'image-size', sizes: '200,400,600,700,800,900,1000,1200'-%}{%- endcapture -%}
           {%- assign image_url = settings.payment-1 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}    
           {%- assign image_url1 = settings.payment-2 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}      
           {%- assign image_url2 = settings.payment-3 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}      
           {%- assign image_url3 = settings.payment-4 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}      
           {%- assign image_url4 = settings.payment-5 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}      
           {%- assign image_url5 = settings.payment-6 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}  


           {% if request.host == "renewedmobile.fr" or request.host == "renewedmobile.de" or request.host == "renewedmobile.it" or request.host == "renewedmobile.es" %}
              
             {%- else -%}

   
                  {%- if settings['payment-1'] -%}
                            <img class=" Image--lazyLoad Image--fadeIn" 
                             src="{{ settings.payment-1 | img_url: "50px" }}"
                              data-src="{{ image_url }}"
                              data-widths="[{{ supported_sizes }}]"
                              data-sizes="auto"
                              alt="{{  settings.payment-1  | escape }}"              
                             srcset="{{  settings.payment-1 | img_url: image_url }} 1x",
                           >
                         {%- endif -%}
                          {%- if settings['payment-2'] -%}
                           <img class=" Image--lazyLoad Image--fadeIn" 
                             src="{{ settings.payment-2 | img_url: "50px" }}"
                              data-src="{{ image_url1 }}"
                              data-widths="[{{ supported_sizes }}]"
                              data-sizes="auto"
                              alt="{{  settings.payment-2  | escape }}"              
                             srcset="{{  settings.payment-2 | img_url: image_url1 }} 1x",
                           >
                          {% endif %}
                          {%- if settings['payment-3'] -%}
                            <img class=" Image--lazyLoad Image--fadeIn" 
                             src="{{ settings.payment-3 | img_url: "50px" }}"
                              data-src="{{ image_url2 }}"
                              data-widths="[{{ supported_sizes }}]"
                              data-sizes="auto"
                              alt="{{  settings.payment-3  | escape }}"              
                             srcset="{{  settings.payment-3 | img_url: image_url2 }} 1x",
                           >
                          {% endif %}
                          {%- if settings['payment-4'] -%}
                           <img class=" Image--lazyLoad Image--fadeIn" 
                             src="{{ settings.payment-4 | img_url: "50px" }}"
                              data-src="{{ image_url3 }}"
                              data-widths="[{{ supported_sizes }}]"
                              data-sizes="auto"
                              alt="{{  settings.payment-4  | escape }}"              
                             srcset="{{  settings.payment-4 | img_url: image_url3 }} 1x",
                           >
                          {% endif %}

                       {% if request.host == "renewedmobile.dk" %}
             
                        {%- else -%}
                          {%- if settings['payment-5'] -%}
                           <img class=" Image--lazyLoad Image--fadeIn" 
                             src="{{ settings.payment-5 | img_url: "50px" }}"
                              data-src="{{ image_url4 }}"
                              data-widths="[{{ supported_sizes }}]"
                              data-sizes="auto"
                              alt="{{  settings.payment-5  | escape }}"              
                             srcset="{{  settings.payment-5 | img_url: image_url4 }} 1x",
                           >
                          {% endif %}
                         {% endif %}
             
                           {%- if settings['payment-6'] -%}
                           <img class=" Image--lazyLoad Image--fadeIn" 
                             src="{{ settings.payment-6 | img_url: "50px" }}"
                              data-src="{{ image_url5 }}"
                              data-widths="[{{ supported_sizes }}]"
                              data-sizes="auto"
                              alt="{{  settings.payment-6  | escape }}"              
                             srcset="{{  settings.payment-6 | img_url: image_url5 }} 1x",
                           >
                          {% endif %}

                  {% endif %}
                        </div>
        {% endif %}
      <div class="Drawer__Footer" data-drawer-animated-bottom>
        {%- capture shipping_and_taxes_notice -%}{{ 'cart.general.shipping_and_taxes_notice' | t }}{%- endcapture -%}

        {%- if settings.cart_enable_notes or shipping_and_taxes_notice != blank -%}
          {%- if settings.cart_enable_notes -%}
            {%- if cart.note == blank -%}
              <button type="button" class="Cart__NoteButton" data-action="toggle-cart-note">{{ 'cart.general.add_note' | t }}</button>
            {%- else -%}
              <button type="button" class="Cart__NoteButton" data-action="toggle-cart-note">{{ 'cart.general.edit_note' | t }}</button>
            {%- endif -%}
          {%- endif -%}

          {%- if shipping_and_taxes_notice != blank -%}
            <p class="Cart__Taxes Text--subdued">{{ shipping_and_taxes_notice }}</p>
          {%- endif -%}

          {%- if cart.cart_level_discount_applications != blank -%}
            {%- for discount_application in cart.cart_level_discount_applications -%}
              <p class="Cart__Discount">{%- render 'icon' with 'sale' -%} {{ 'cart.general.discount' | t }} ({{ discount_application.title }}): -<span>{{ discount_application.total_allocated_amount | money }}</span></p>
            {%- endfor -%}
          {%- endif -%}
        {%- endif -%}

        
        {% if settings.enable_discountcode %}
          <a id="custom_checkoutbutton" class="custom_checkoutbutton Button Button--primary Button--full Button--hide" href="https://renewed.se/checkout/?discount={{ settings.auto_discountcode }}" style="letter-spacing: 0.15em;">
            <span>{{- 'cart.general.checkout' | t -}}</span>
            <span class="Button__SeparatorDot"></span>
            <span>{{ cart.total_price | money_with_currency }}</span>
          </a>
        {% endif %}
        <button type="submit" name="checkout" class="Cart__Checkout Button Button--primary Button--full">
          <span>{{- 'cart.general.checkout' | t -}}</span>
          <span class="Button__SeparatorDot"></span>
          <span>{{ cart.total_price | money_with_currency }}</span>
        </button>

        {%- if settings.cart_enable_notes -%}
          <div class="Cart__OffscreenNoteContainer" aria-hidden="true">
            {%- if cart.note == blank -%}
              <span class="Cart__NoteButton">{{ 'cart.general.add_note' | t }}</span>
            {%- else -%}
              <span class="Cart__NoteButton">{{ 'cart.general.edit_note' | t }}</span>
            {%- endif -%}

            <div class="Form__Item">
              <textarea class="Cart__Note Form__Textarea" name="note" id="cart-note" rows="3" placeholder="{{ 'cart.general.note_placeholder' | t }}" data-scrollable>{{ cart.note }}</textarea>
            </div>

            <button type="button" class="Button Button--primary Button--full" data-action="toggle-cart-note">{{ 'cart.general.save_note' | t }}</button>
          </div>
        {%- endif -%}
      </div>
    {%- endunless -%}
  </form>
</div>